<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310406022741-g39t6777fvfqro4vgncst4uu7dleu7mt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310406022741-g39t6777fvfqro4vgncst4uu7dleu7mt</string>
	<key>API_KEY</key>
	<string>AIzaSyB7Z69Ec8MR8FKestE_y0FR0KzOrlO6Wnk</string>
	<key>GCM_SENDER_ID</key>
	<string>310406022741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lakshmisowjanya.HairDresser</string>
	<key>PROJECT_ID</key>
	<string>hair-dresser-9e69e</string>
	<key>STORAGE_BUCKET</key>
	<string>hair-dresser-9e69e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310406022741:ios:ba0edf2f8a04476d1d76dc</string>
</dict>
</plist>